{% extends 'base.html.twig' %}

{% block title %}Data Manager|Upload XLS File{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Upload de fichier en format Excel (XLS ou XLSX)</h3>
        </div>    
    </div>
    <div class="col-md-6 offset-md-3 row align-items-center">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_errors(form.file) }}
            <div class="mb-3">
                {{ form_row(form.file) }}
            </div>
            {{ form_row(form.upload) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
